<nav class="kanban-nav">
  kanban board
</nav>
<div class="column-container">
  <app-kanban-column 
  [columnId]="1"
  [cards]="columnState[1]"
  (createNewCard)="addNewCard($event)"
  (moveCard)="moveCard($event)"
  ></app-kanban-column>
  <app-kanban-column 
  [columnId]="2"
  [cards]="columnState[2]"
  (createNewCard)="addNewCard($event)"
  (moveCard)="moveCard($event)"
  ></app-kanban-column>
  <app-kanban-column 
  [columnId]="3"
  [cards]="columnState[3]"
  (createNewCard)="addNewCard($event)"
  (moveCard)="moveCard($event)"
  ></app-kanban-column>
  <app-kanban-column 
  [columnId]="4"
  [cards]="columnState[4]"
  (createNewCard)="addNewCard($event)"
  (moveCard)="moveCard($event)"
  ></app-kanban-column>
</div>